<div class="form-group">
  <%= form.input(:name, placeholder: "Item name", class: "form-control form-control-lg") %>
</div>

<%=
  form.only(:form) do
    form.ng_select(
      :kind_slug,
      options: "gnc.kinds",
      reference_key: :slug,
      text_field: :name,
      ng_errors: "gnc.data.errors.kind",
      class: "form-control"
    )
  end
%>

<%=
  form.only(:display) do
    form.input(
      "category.name",
      label: "Category",
      class: "form-control-plaintext"
    )
  end
%>

<%=
  form.only(:display) do
    form.input(
      "kind.name",
      label: "Kind",
      class: "form-control-plaintext"
    )
  end
%>

<div class="form-group">
  <%= form.textarea(:description, placeholder: "Description", class: "form-control") %>
</div>