<div class="card shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">
      Item
    </h4>
  </div>
  <div class="card-body">
    <%= form.input(:name, placeholder: "Item name") %>
    <%=
      form.only(:form) do
        form.ng_select(
          :kind_slug,
          options: "gnc.kinds",
          reference_key: :slug,
          text_field: :name,
          ng_errors: "gnc.data.errors.kind",
        )
      end
    %>
    <%=
      form.only(:display) do
        form.input(
          "category.name",
          label: "Category"
        )
      end
    %>
    <%=
      form.only(:display) do
        form.input(
          "kind.name",
          label: "Kind"
        )
      end
    %>
    <%= form.textarea(:description, placeholder: "Description") %>

    <%= form.only(:display) do %>
      <div class="links-section">
        <h5>Links</h5>
        <ul>
          <li ng-repeat="link in gnc.data.links track by $index">
            <a href="{{link.url}}" target="_blank">{{link.text}}</a>
          </li>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="offset-2 col-10">
        <%= form.only(:form) do
          form.button(
            ng_click: 'gnc.save()',
            ng_disabled: 'gnc.ongoing',
            classes: 'btn-primary',
            text: 'Save'
          )
        end %>
      </div>
    </div>
  </div>
</div>