
  <%=
    angular_safe_link_to(
      :category_items, { category_slug: "{{gnc.data.category_slug}}" },
      class: 'btn btn-primary'
    ) do
      'Back'
    end
  %>

<%= form.only(:display) do
  angular_safe_link_to(
    :edit_category_item, {
      category_slug: "{{gnc.data.category.slug}}",
      id: '{{gnc.data.id}}'
    },
    class: 'btn btn-primary',
    "ng-show" => "gnc.global_state.logged"
  ) do
    'Edit'
  end
end %>

<div class="card shadow-sm">
  <div class="card-header bg-primary text-white">
    <h4 class="my-0 font-weight-normal">
      <%= form.only(:form) { "Edit Item" } || "Item Details" %>
    </h4>
  </div>
  <div class="card-body">
    <%= render partial: 'form_data', locals: { form: form } %>
    <hr class="my-4">
    <%= render partial: 'form_links', locals: { form: form } %>
    <hr class="my-4">
    <%= render partial: 'form_carousel', locals: { form: form } %>

    <div class="form-group row mt-4">
      <div class="col-12 text-center">
        <%= form.only(:form) do
          form.button(
            ng_click: 'gnc.save()',
            ng_disabled: 'gnc.ongoing',
            classes: 'btn btn-success btn-lg',
            text: 'Save'
          )
        end %>
      </div>
    </div>
  </div>
</div>